
*{
	margin:0;
	padding:0;
}

body{
	font-family: sans-serif;
}

.clear_both {
	clear: both;
}

.crono_container {
  width:1160px;
  height:auto;
  padding-top:20px;
  padding-right:30px;
  padding-left:30px;
  margin-right:auto;
  margin-left: auto;
}

textarea {
    resize: none;
}

.mb-n10 {
		margin-bottom:-10px;	
}

.mt-28 {
		margin-top:28px;	
}

.mt-n250 {
	margin-top:-250px;
}

.mt-n10 {
	margin-top:-10px;
}

.mt-n25 {
	margin-top:-25px;
}

.mt-n50 {
	margin-top:-50px;
}

.mt-250 {
	margin-top:250px;
}

.mt-275 {
	margin-top:275px;
}

.mt-285 {
	margin-top:285px;
}

.mb-50 {
	margin-bottom:50px;
}

.ml-25 {
	margin-left:25px;
}

.ml-35 {
	margin-left:35px;
}

.ml-50 {
	margin-left:50px;
}

.ml-75 {
	margin-left:75px;
}

.ml-100 {
	margin-left:100px;
}

.ml-200 {
	margin-left:200px;
}

.ml-270 {
	margin-left:270px;
}

.ml-300 {
	margin-left:300px;
}

.ml-400 {
	margin-left:400px;
}

.ml-700 {
	margin-left:700px;
}

.ml-800 {
	margin-left:800px;
}

.cronoweb_nav{
	margin:20px 0px 10px 50px;

}

.cronoweb_nav>ul li {
	
	width:auto;
	padding-left:0px;
}

.cdropdown{
	width:100px;
	text-align:center;
	position: relative; 
	z-index: 1;
}

.cdropdown-button{
	background:white;
	color:#007bff;
}

.cdropdown-button a{
	text-decoration:none;
}

.cdropdown ul{
	list-style-type: none;
	padding-top:30px;
}

.cdropdown ul li {
	padding: 5px 5px; 
	background:#fff;
	display:none;
	opacity:0;
	color:#007bff;
}

.cdropdown ul li a{
	text-decoration:none;
	color:inherit;
}

.active{
	background-color:#007bff;
	}
	
.cdropdown ul li:hover  {
	background:#007bff;
	color:#fff;
}

.cdropdown:hover li {
	animation: load 1s forwards;
	display:block;
}

.image_container{
	width:1100px;
	height:282px;
	display:flex;
	justify-content:center;
	position:absolute;
	z-index:-1;
	border: 2px solid #ced4da;
} 

.inner_image {
	margin-left:0px;
	margin-top:0px;
	width:1100px;
	height:280px;
	text-align:center;
	color:whitesmoke;
	overflow:hidden; 
}

.inner_image img {
}

.inner_image >  img#imageload1{
	animation: loadimage1 60s infinite ease-in-out;
		
}

.inner_image >  img#imageload2{
	animation: loadimage2 60s infinite ease-in-out;
		
}

.inner_image >  img#imageload3{
	animation: loadimage3 60s infinite ease-in-out;
		
}

.webdesign:hover #drop-webdesign {
	display:block;
}

.webdesign {
	margin-top:0px;
	margin-left:0px;
	width:100px;
	height:25px;
	
}
#drop-webdesign {
	//background:green;
	display:none;
	width:175px;
	height:150px;
	margin-left:95px;
	margin-top:0px;
	padding-left:10px;
	animation: webdesignload 1s forwards;
}

#drop-webdesign:hover {
	display:block;
}

#drop-webdesign_ul {
	margin-top:-34px;
	padding-top:10px;
	background:white;
	padding-left:0px;
	width:90px;
	height:185px;
	border-radius:10px;
	color:#007bff;
	//border: 1px solid red;
}

#drop-webdesign_ul ul{
	margin-top:-34px;
	list-style-type: none;
	//color:#007bff;
	//border: 1px solid blue;

}

#drop-webdesign_ul ul li:first-child{
	color:#007bff;
}

#drop-webdesign_ul ul li:first-child:hover{
	background:white;
}

li:first-child a:hover

#drop-webdesign_ul ul li a {
	text-decoration:none;
}


@keyframes webdesignload {
	0% {
    opacity: 1;
    transform: translateX(-100px);
  }
  
100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes load {
		
	0% {
		/* transform:translateX(25px); */
	}
	
	100% {
		opacity:1;
		/* transform:translateX(0px); */
	}
}
#logo {
	animation: logoload 2s ease-out;
}

@keyframes logoload {
		
	0% {

		 opacity:1;
		 transform:translateY(-20px) scale(1.3); 
	}
	
	100% {

		 opacity:1;
		 transform:translateY(0px) scale(1.0); 
	}
}

#phone {
	animation: phone 10s infinite;
}

@keyframes phone {
	
	90% {
			opacity:1;
			transform:rotate(0deg);
	}
		
	90.2% {
			opacity:1;
			transform:rotate(30deg);
			}
	
	90.4% {
	 	opacity:1;
		transform:rotate(0deg);
		}


	90.6% {
			opacity:1;
			transform:rotate(30deg);
			}
	
	90.8% {
	 	opacity:1;
		transform:rotate(0deg);
		}
		
	91% {
		opacity:1;
		transform:rotate(30deg);
			}
	
	91.2% {
	 	opacity:1;
		transform:rotate(0deg);
		}
		
	91.4% {
			opacity:1;
			transform:rotate(30deg);
			}
	
	91.6% {
	 	opacity:1;
		transform:rotate(0deg);
		}
}

#emailbox {
	
	animation: emailbox 5s ease-out;  
/* 	//animation-delay:5s; */
}

@keyframes emailbox {
	0% {
	
	opacity:0;
	}
	
	70% {
	
	opacity:0;
	}
		
	71% {

		 opacity:1;
		 transform:translateY(-50px) ; 
	}
	
	100% {

		 opacity:1;
		 transform:translateY(0px) ; 
	}
}

@keyframes loadimage1 {

0%,19% {
	opacity: 0;
}	
	
20% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
25% {
    opacity: 1;
    transform: translateX(0px);
  }
	
45% {
     opacity: 1;
    transform: translateX(0px);
  }
  
50% {
    opacity: 1;
    transform: translateX(-1100px);
  }
  
  51%,100% {
	opacity: 0;
	}
}

@keyframes loadimage2 {

0%,44% {
	opacity: 0;
}	
	
45% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
50% {
    opacity: 1;
    transform: translateX(0px);
  }
	
75% {
     opacity: 1;
    transform: translateX(0px);
  }
  
80% {
    opacity: 1;
    transform: translateX(-1100px);
  }

81%,100% {
	opacity: 0;
	}

}

@keyframes loadimage3 {

0% {
	opacity: 1;
}
	
20%{
	opacity: 1;
    transform: translateX(0px);
}	

25%{
	opacity: 1;
    transform: translateX(-1100px);
}

26%,74% {
	opacity: 0;
}
	
75% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
80% {
    opacity: 1;
    transform: translateX(0px);
  }

100% {
    opacity: 1;
  }
    
}

.cdropdown li:first-child{
	animation-delay:0.2s;
}

.cdropdown li:nth-child(2){
	animation-delay:0.4s;
}

.cdropdown li:nth-child(3){
	animation-delay:0.6s;
}

.cdropdown li:nth-child(4){
	animation-delay:0.8s;
}

.cdropdown li:nth-child(5){
	animation-delay:1s;
}

.footer ul {
	list-style-type: none;
}

.footer ul li a {
	text-decoration:none;
}

.ajanlat ul li a {
	color:#333;
}

.ajanlat ul li a:hover {
	color:#007bff;
}

.ajanlat ul li p b a:hover {
	color:#007bff;
}

.price_animation {
font-size:30px;	
animation-name:example;
animation-duration: 4s;
animation-iteration-count: infinite;
}


@keyframes example{
    0%   {color: #7122fa;}
	33%  {color: #011ffd}
    66%  {color: #8a2be2;}
    100% {color: #33135c;}
}

#article_main_container {
  width:1100px;
  height:1460px;
  //border: 1px red solid;
}

article#article_index {
	    border: 1px #007bff solid;
		float: left;
		width: 330px;
		height:725px;
		margin-left:30px;
		margin-top:20px;
}

article#article_index  h2 {
	padding-top:20px;
	padding-bottom:20px;
}

article#article_index  p {
	padding-left:20px;
}

article#article_index  h5 {
	padding-left:20px;
}

.service_main_container{
	  width:1100px;
 	  height:720px;
 	 // border:1px red solid;
}

#service_form{
     padding-top:20px;
	 padding-left:20px;
	 width:300px;
 	 height:740px;
 	// border:1px #007bff solid;
	 float:left;
}

#service_article_main_container {
  width:760px;
  height:740px;
 // border:1px #007bff solid;
  margin-left:40px;
  float:left;
}

article#article_service {
	    border: 1px #007bff solid;
		float: left;
		width: 330px;
		height:700px;
		margin-left:30px;
		margin-top:20px;
}

article#article_service  p {
	padding-left:20px;
}

article#article_service  h5 {
	padding-left:20px;
}

#main_blog{
	height:auto;
}
#blog_container{
	width:647px;
	height:auto;
	margin-left:30px;
}

.crono_label {
	background-color:#17a2b8;
	color:white;
}

.crono_label_info{
	background-color:#17a2b8;
	color:white;
}

#blog_description {
	
	margin-bottom:10px;
	height:960px;
}

h1#blogcimtext1,h1#blogcimtext2{
padding-left:50px;
font-size:30px;
float:left;
color:#888;
}

h1#blogcimtartalom1,h1#blogcimtartalom2 {
float:left;
font-size:30px;
padding-left:5px;
color:#888;
}

section#bsection1,section#bsection2{
padding-top:10px;	
padding-left:20px;	
font-size:20px;
width:600px;
color:#444;
}

p#blogdatumtext1,p#blogdatumtext2{
padding-top:15px;
padding-left:25px;	
font-size:20px;
float:left;
color:#888;
}

p#blogdatumtartalom1,p#blogdatumtartalom2{
padding-top:15px;
padding-left:10px;	
font-size:20px;
color:#888;
}

#blogs hr {
	margin-top:-10px;
	margin-left:20px;
	margin-bottom:0px;
	width:90%;
}
#blogs{
	margin:20px;
	width:auto;
	min-height:395px;
	height:auto;
}

#send_blogs{
	margin:10px 20px 20px 20px;
	width:auto;
	height:280px;
}

.searchbox {
	width:40%;
}
.autocomplete{
	visibility:hidden;
	width:100%;
	height:30px;

}

#blogs_array_input{
	display:none;
}

