
*{
	margin:0;
	padding:0;
}

body{
	font-family: sans-serif;
}

textarea {
    resize: none;
}


.mt-n250 {
	margin-top:-250px;
}

.mt-n50 {
	margin-top:-50px;
}

.mt-250 {
	margin-top:250px;
}

.mt-275 {
	margin-top:275px;
}

.mt-285 {
	margin-top:285px;
}

.mb-50 {
	margin-bottom:50px;
}

.ml-25 {
	margin-left:25px;
}

.ml-50 {
	margin-left:50px;
}

.ml-75 {
	margin-left:75px;
}

.ml-100 {
	margin-left:100px;
}

.ml-200 {
	margin-left:200px;
}

.ml-700 {
	margin-left:700px;
}

.ml-800 {
	margin-left:800px;
}

.cronoweb_nav{
	margin:20px 0px 10px 50px;

}

.cronoweb_nav>ul li {
	
	width:auto;
	padding-left:0px;
}

.cdropdown{
	width:100px;
	text-align:center;
	position: relative; 
	z-index: 1;
}

.cdropdown-button{
	background:white;
	color:#007bff;
}

.cdropdown-button a{
	text-decoration:none;
}

.cdropdown ul{
	list-style-type: none;
	padding-top:30px;
}

.cdropdown ul li {
	padding: 5px 5px; 
	background:#fff;
	display:none;
	opacity:0;
	color:#007bff;
}

.cdropdown ul li a{
	text-decoration:none;
	color:inherit;
}

.active{
	background-color:#007bff;
	}
	
.cdropdown ul li:hover  {
	background:#007bff;
	color:#fff;
}

.cdropdown:hover li {
	animation: load 1s forwards;
	display:block;
}

.image_container{
	width:1100px;
	height:280px;
	display:flex;
	justify-content:center;
	position:absolute;
	z-index:-1;
} 

.inner_image {
	margin-left:0px;
	width:1100px;
	height:280px;
	text-align:center;
	color:whitesmoke;
	overflow:hidden; 
}

.inner_image img {
	//margin-left:5px;
}

.inner_image >  img#imageload1{
	animation: loadimage1 60s infinite ease-in-out;
		
}

.inner_image >  img#imageload2{
	animation: loadimage2 60s infinite ease-in-out;
		
}

.inner_image >  img#imageload3{
	animation: loadimage3 60s infinite ease-in-out;
		
}

.webdesign:hover #drop-webdesign {
	display:block;
}

.webdesign {
	margin-top:0px;
	margin-left:0px;
	width:100px;
	height:25px;
	
}
#drop-webdesign {
	//background:green;
	display:none;
	width:175px;
	height:150px;
	margin-left:95px;
	margin-top:0px;
	padding-left:10px;
	animation: webdesignload 1s forwards;
}

#drop-webdesign:hover {
	display:block;
}

#drop-webdesign_ul {
	margin-top:-34px;
	padding-top:10px;
	background:white;
	padding-left:0px;
	width:90px;
	height:185px;
	border-radius:10px;
	color:#007bff;
	//border: 1px solid red;
}

#drop-webdesign_ul ul{
	margin-top:-34px;
	list-style-type: none;
	//color:#007bff;
	//border: 1px solid blue;

}

#drop-webdesign_ul ul li:first-child{
	color:#007bff;
}

#drop-webdesign_ul ul li:first-child:hover{
	background:white;
}

li:first-child a:hover

#drop-webdesign_ul ul li a {
	text-decoration:none;
}


@keyframes webdesignload {
	0% {
    opacity: 1;
    transform: translateX(-100px);
  }
  
100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes load {
		
	0% {
		/* transform:translateX(25px); */
	}
	
	100% {
		opacity:1;
		/* transform:translateX(0px); */
	}
}

@keyframes loadimage1 {

0%,19% {
	opacity: 0;
}	
	
20% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
25% {
    opacity: 1;
    transform: translateX(0px);
  }
	
45% {
     opacity: 1;
    transform: translateX(0px);
  }
  
50% {
    opacity: 1;
    transform: translateX(-1100px);
  }
  
  51%,100% {
	opacity: 0;
	}
}

@keyframes loadimage2 {

0%,44% {
	opacity: 0;
}	
	
45% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
50% {
    opacity: 1;
    transform: translateX(0px);
  }
	
75% {
     opacity: 1;
    transform: translateX(0px);
  }
  
80% {
    opacity: 1;
    transform: translateX(-1100px);
  }

81%,100% {
	opacity: 0;
	}

}

@keyframes loadimage3 {

0% {
	opacity: 1;
}
	
20%{
	opacity: 1;
    transform: translateX(0px);
}	

25%{
	opacity: 1;
    transform: translateX(-1100px);
}

26%,74% {
	opacity: 0;
}
	
75% {
    opacity: 1;
    transform: translateX(1100px);
  }
  
80% {
    opacity: 1;
    transform: translateX(0px);
  }

100% {
    opacity: 1;
  }
    
}

.cdropdown li:first-child{
	animation-delay:0.2s;
}

.cdropdown li:nth-child(2){
	animation-delay:0.4s;
}

.cdropdown li:nth-child(3){
	animation-delay:0.6s;
}

.cdropdown li:nth-child(4){
	animation-delay:0.8s;
}

.cdropdown li:nth-child(5){
	animation-delay:1s;
}

.footer ul {
	list-style-type: none;
}

.footer ul li a {
	text-decoration:none;
}

.ajanlat ul li a {
	color:#333;
}

.ajanlat ul li a:hover {
	color:#007bff;
}

.price_animation {
font-size:30px;	
animation-name:example;
animation-duration: 4s;
animation-iteration-count: infinite;
}


@keyframes example{
    0%   {color: #7122fa;}
	33%  {color: #011ffd}
    66%  {color: #8a2be2;}
    100% {color: #33135c;}
}
