<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cronoweb Webdesign</title>
	<meta name="description" th:attr="content=#{index_description_content}"/>
    <meta name="keywords" th:attr="content=#{index_keywords_content}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="EkHAyOI1CpFE5jhuaNBI0wTlMJSQ5UOJuntwArdojQ0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/cronoweb.css}" href="../../static/css/cronoweb.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="application/ld+json">
    {
      "@type": "WebDesign",
      "name": "Cronoweb",
      "author": {
        "@type": "Person",
        "name": "Eugen Fazekas"
      },
      "datePublished": "2020-090-28",
      "description": "WebPage Development.",
      "prepTime": "PT20M"
    }
    </script>
</head>
<body>
	<div class="crono_container border">
		<div th:replace="fragment/fragment :: top"></div>
			<br/>
				<div id="article_main_container" class="mt-250">
								<article id="article_index" th:each="package : ${packages}">
												<header>
													<h2 th:text="#{${package.title}}" align="center">Blog cim</h2> 
												</header>
													<section>
													  <p th:utext="#{${package.description1}}"></p>
													  <p th:utext="#{${package.description2}}"></p>
													  <p th:utext="#{${package.description3}}"></p>
													  <p th:utext="#{${package.description4}}"></p> 
													  <p th:utext="#{${package.description5}}"></p>
													  <p th:utext="#{${package.description6}}"></p>
													  <p th:utext="#{${package.description7}}"></p>
													  <p th:utext="#{${package.description8}}"></p>
													  <p th:utext="#{${package.description9}}"></p>
													  <p th:utext="#{${package.description10}}"></p>
													  <p th:utext="#{${package.description11}}"></p>
													  <p th:utext="#{${package.description12}}"></p>
													  <p th:utext="#{${package.description13}}"></p>
													  <p th:utext="#{${package.description14}}"></p>
													  <p th:utext="#{${package.description15}}"></p>
													</section>
												<footer>
													<h5><b th:text="#{index_price} + ' ' + ${package.price}+ ' ' + #{index_price_euro}"></b></h5>
												</footer>
									</article>
				</div>				
			<br>
		<div th:replace="fragment/fragment :: footer"></div>
	</div>
</body>
</html>