<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cronoweb Webdesign</title>
	<meta name="description" content="web készités, web fejlesztés, webdesign, honlap készités, creare pagini web, gazduire web" />
    <meta name="keywords" content="weboldal készités, weboldal fejlesztés, honlap készités, webdesign, creare pagini web, gazduire web">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="EkHAyOI1CpFE5jhuaNBI0wTlMJSQ5UOJuntwArdojQ0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/cronoweb.css}" href="../../static/css/cronoweb.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="application/ld+json">
    {
      "@context": "https://www.cronoweb.ro/",
      "@type": "WebDesign",
      "name": "Cronoweb",
      "author": {
        "@type": "Eugen",
        "name": "Fazekas"
      },
      "datePublished": "2020-090-28",
      "description": "WebPage Development.",
      "prepTime": "PT20M"
    }
    </script>
</head>
<body>
	<div class="container border">
		<div th:replace="fragment/fragment :: top"></div>

			<br/>
			<br/>
			<br/>
			<h1 class="mt-250" th:text="#{index_h1}" align="center"></h1>
			<br/>
			<br/>
			<div align="center">
				<img class="" th:src="@{/img/under_contruction.jpg}" src="../../static/img/under_contruction.jpg" height="492" width="728"  />
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
		<div th:replace="fragment/fragment :: footer"></div>
	</div>
</body>
</html>