<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<head>
	<title>Index</title>
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../static/css/main.css" />
</head>
	<body>
		<div id="container">
			<div th:replace="main/fragment/fragment :: top1"></div>
			<div th:replace="main/fragment/fragment :: top2"></div>
			<div th:replace="main/fragment/fragment :: top3"></div>
			<div id="indexcontainer">
			</div>
			<div th:replace="main/fragment/fragment :: bottom"></div>
		</div>
	</body>
</html>