<!DOCTYPE html>
<html  lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Cronoweb</title>
	<meta name="description" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/cronoweb.css}" href="../../static/css/cronoweb.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
		<div th:fragment="top" class="">
				<div style="width: 1200px; height: 100px">
					<div class=" float-left " style="width: 700px; height: 100px">
						<img class="float-left" th:src="@{/img/logo.png}"
							src="../../static/img/logo.png" height="85" width="244" />
					</div>
					<i class="fa fa-phone fa_custom fa-2x float-left mt-4"></i>
					<div class=" float-left mt-4" style="width: 150px">Tel:0771-326-745</div>
					<i class="fa fa-envelope ml-4 mt-4 float-left fa_custom"
						aria-hidden="true"></i>
					<div class="ml-1 float-left mt-4" style="width: 250px">Email:
						info@cronoweb.ro</div>
				</div>
				<div class="" style="min-width:500px ; min-height:100px ">
					<ul class="nav nav-pills float-left " role="tablist">
					
						<li class="nav-item  float-left ml-2 ">
							<a class="nav-link" data-toggle="pill" href="/" th:text="#{fooldal}">Fooldal</a>
						</li>
						
						<li class="nav-item float-left ml-2 ">
							<a class="nav-link" data-toggle="pill" href="#ajanlat" th:text="#{ajanlatkeres}">Ajanlatkeres</a>
						</li>
						
						<li>
							<div class="cdropdown float-left " style="margin: 8px 0px 0px 10px " >
								<div class="cdropdown-button float-left " style="min-width:100px" th:text="#{szolgaltatasok}">Szolgáltatások
								</div>
									<ul>
										<li><a href="#" >Blog</a></li>
										<li><a href="#">WebDesign</a></li>
										<li><a href="#"  >WebShop</a></li>
										<li><a href="#"  >3D Logo</a></li>
									</ul>
							</div>	
						</li>
						
						<li class="nav-item float-left ml-2 ">
							<a  class="nav-link" data-toggle="pill" href="/menu/contact" th:text="#{kapcsolat}">Kapcsolat</a>
						</li>
					</ul>
				</div>
				<div class="image_container mt-n50 border ">
					<div class="inner_image border">
						<img th:src="@{/img/coding2.png}" id="imageload1" src="../../static/img/coding2.png" height="280" width="1100" />
					</div>	
				</div>	
				<div class="image_container mt-n50  ">
					<div class="inner_image">
						<img th:src="@{/img/coding3.png}" id="imageload2" src="../../static/img/coding3.png" height="280" width="1100" />
					</div>	
				</div>	

				<div class="image_container mt-n50  ">
					<div class="inner_image">
						<img th:src="@{/img/coding4.png}" id="imageload3" src="../../static/img/coding4.png" height="280" width="1100" />
					</div>	
				</div>	
			</div>
			
		<div th:fragment="footer" style="width:1100px; height:300px" class="footer border">
			<div class="ajanlat">
				<ul class=" ml-4 float-left">
					<li >
						<p><b><a href="/" th:text="#{fooldal}">Fooldal</a></b></p>
					</li>
					<li >
						<a class="fa fa-facebook-square fa-3x" style="color:#4267B2" href="https://www.facebook.com/Cronoweb-100810845096910" aria-hidden="true"></a>
					</li>
				</ul>
			</div>
			<div class="ajanlat">
				<ul class="ml-200 float-left">
					<li >
						<p><b ><a  th:text="#{ajanlatkeres}" href="#kapcsolat">Ajanlatkeres</a></b></p>
					</li>
				</ul>
			</div>
			<div>
				<ul class=" ml-200 float-left">
					<li >
						<p><b  th:text="#{szolgaltatasok}" style="color:#333">Blog</b></p>
					</li>
					
					<li >
						<p><b  style="color:#007bff"><a href="#">Blog</a></b></p>
					</li>
					
					<li >
						<p><b  style="color:#007bff"><a href="#">WebDesign</a></b></p>
					</li>
					
					<li >
						<p><b  style="color:#007bff"><a href="#">WebShop</a></b></p>
					</li>
					
					<li >
						<p><b  style="color:#007bff"><a href="#">3D Logo</a></b></p>
					</li>
				</ul>
			</div>
			<div class="ajanlat">
				<ul class=" ml-200 float-left">
					<li >
						<p><b ><a  th:text="#{kapcsolat}" href="#kapcsolat">Kapcsolat</a></b></p>
					</li>
				</ul>
			</div>
		</div>
	
</body>
</html>
