<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="top">
		<div id="header">
			<form name="login" class="form-signin" th:action="@{/login}"
				method="post">
				<div id="belepes">Login:</div>
				<div id="username1">
					<input type="text" id="username" name="username"
						onfocus="this.placeholder = ''" required="true" />
				</div>
				<div id="password1">
					<input type="password" id="password" name="password"
						onfocus="this.placeholder = ''" required="true" />
				</div>
				<div id="submit1">
					<button class="button button1" type="submit">Sign IN</button>
				</div>
				<div id="regisztracio">
					<a href="/registration" id="regtext">Registration </a>
				</div>
			</form>
			<div id="searching">
				<img th:src="@{/img/searchicon.png}"
					src="../../static/img/searchicon.png" height="24" width="24" />
			</div>
			<form>
				<div id="kereses">
					<input type="text" id="search1" name="search"
						onfocus="this.placeholder = ''" />
				</div>
				<div id="searchbutton">
					<button class="button button2" value="Search" type="submit">GO!</button>
				</div>
			</form>

			<form   >
				<div id="welcometext" align="right">Welcome: </div>
				<div id="welcomeuser" align="left" >
				<span sec:authentication="name">Anonymous </span>
				</div>
			</form>
			<div id="signout">
				<form sec:authorize="isAuthenticated()" id="frmlogout"
					th:action="@{/logout}" method="post">
					<a id="signouttext" href="javascript:{}"
						onclick="document.getElementById('frmlogout').submit(); return false;"
						>Sign Out</a>
				</form>
			</div>
		</div>
		<div id="pic">
			<img th:src="@{/img/it.png}" src="../../static/img/it.png" id="kep1"
				alt="Nincs kep" title="IT" height="240" width="940" />
		</div>

		<div id="menutable">
			<ul id="menu">
				<li><div>
						<div id="hirek">
							<a href="/index">News </a>
						</div>
					</div></li>
				<li><div>
						<div id="blogok">
							<a href="/blogs">Blogs </a>
						</div>
					</div></li>
				<li><div>
						<div id="videok">
							<a href="/videos">Videos </a>
						</div>
					</div></li>
				<li><div>
						<div id="gyik">
							<a href="/description">Page Info </a>
						</div>
					</div></li>
				<li><div>
						<div id="kapcsolat">
							<a href="/contact">Contact</a>
						</div>
					</div></li>
			</ul>
		</div>
	</div>
	<div th:fragment="bottom">
		<footer>
			<div id="footer">
				<ul id="menufooter">
					<li><div>
							<div id="fooldal">
								<a href="/index">Index </a>
							</div>
						</div></li>
					<li><div>
							<div id="fblogok">
								<a href="/blogs">Blogs </a>
							</div>
						</div></li>
					<li><div>
							<div id="fgyik">
								<a href="/description">Server Description </a>
							</div>
						</div></li>
					<li><div>
							<div id="fkapcsolat">
								<a href="/contact">Contact</a>
							</div>
						</div></li>
				</ul>
				<div id="copyright">CopyRight: Eugen Fazekas</div>

			</div>
		</footer>

	</div>
	<script th:inline="javascript"> var a = [[${fullname}]]  ; if(a!= null) { function username() {  document.getElementById("usernamecheck").submit(); } username();} </script>
	
	</body>
</html>