html, body {

height:100%;
}
*{ margin: 0px; padding:0px;}

div#container {
	margin-left:auto;
	margin-right:auto;
	background:repeating-linear-gradient(45deg, #383838 0%, #333333 11% , #888 15%,  #444444 22%) no-repeat 50% 50% / 100% 100%;
	height:auto;
	width:auto;

}

div#header {
position: -webkit-sticky; /* Safari */
position: sticky;
top:0px;
width:1700px;
height:50px;
margin-left:auto;
margin-right:auto;
background-color:#888899;
-webkit-border-radius:0px 0px 10px 10px;
-webkit-box-shadow:10px 10px 5px #222222;
}

div#belepes {
	font-size:25px;
	padding-top:10px;
	padding-left:50px;
	width:120px;
	height:50px;
	float:left;

}

div#username1{
width:200px;
	height:50px;
	float:left;
}

input[type=text] {
  width: 100%;
  padding: 8px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;
}

div#password1{
	padding-left:40px;
	width:200px;
	height:50px;
	float:left;
}

input[type=password] {
  width: 100%;
  padding: 8px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;
}

div#submit1 {
	padding-top:8px;
	padding-left:40px;
	width:160px;
	height:42px;
	float:left;
}

.button {
  background-color: #bbbbbb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-border-radius:5px 5px 5px 5px;
}



.button1:hover {
  background-color: #5555ff;
}

.button1 {
	
width:130px;
height:25px;

}

div#regisztracio{
	width:120px;            
	height:37px;
	float:left;
	font-size:20px;
	padding-top:13px;
}
a#regtext {
color:#000
}
a#regtext:hover {
  text-decoration: underline;
  color:#ddd
}

div#searching{
	margin-top:10px;
	padding-top:1px;
	width:25px;
	height:25px;
	float:left;
	border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	background-color:#333;
	-webkit-border-radius:5px 0px 0px 5px;
	background-color:#fff;
}
div#kereses{
	width:130px;
	height:47px;
	float:left;
	font-size:25px;
	padding-top:2px;
}

input#search1[type=text] {
  width: 100px;
 /* box-sizing: border-box;*/
  height:30px;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-border-radius:0px 5px 5px 0px;
  background-color: white;
  background-repeat: no-repeat;
  padding:0px  10px 0px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input#search1[type=text]:focus {
  width: 100%;
}

div#searchbutton{
	width:80px;
	height:42px;
	float:left;
	font-size:20px;
	padding-top:8px;
}
.button2 {
width:70px;
height:25px;
}

.button2:hover {
  background-color: #0000ff;
}

/* div#err{ */
/* 	width:180px; */
/* 	height:50px; */
/* 	float:left; */
/* 	display:none; */
/* 	background-color:#aaa */
/* } */
/* div#succes { */
/* 	width:180px; */
/* 	height:50px; */
/* 	float:left; */
/* 	display:none; */
/* } */

div#welcometext  {
	width:120px;
	height:36px;
	padding-top:14px;
	padding-left:10px;
	font-size:20px;
	float:left;
	color:#0022bb;
	/*background-color:#222222;*/
}

div#welcomeuser{

	padding-top:14px;
	padding-left:5px;
	font-size:20px;
	width:250px;
	height:36px;
	float:left;
	color:#0022bb;
	/*background-color:#888888;*/
}

span#welcomespan {
	padding-left:5px;
	color:#0022bb
}

div#signout{
	width:auto;
	height:36px;
	padding-top:14px;
	padding-left:10px;
	font-size:20px;
	float:left;
	border-left:none;
	/*background-color:#bbbbbb;*/
}
a#signouttext{
color:#000;
}

a#signouttext:hover {
 text-decoration: underline;
  color:#ddd
}

div#pic{
	width:940px;
	height:240px;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow:10px 0px 5px #222222;
	}
	
div#menutable {
	width:936px;
	height:35px;
	background-color:#000044;
	margin-left:auto;
	margin-right:auto;
	margin-top:-10px;
	-webkit-border-radius:0px 0px 10px 10px;
	border-left: 2px solid #8888ff;
	border-right: 2px solid #8888ff;
	border-bottom: 2px solid #8888ff;
	border-top: 2px solid #8888ff;
	-webkit-box-shadow:10px 10px 5px #222222;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:50px;
}

ul#menu{ list-style:none;
 }

ul#menu li{ float:left; }

ul#menu div{
	/*background-color:#000044;*/
	width:183px;
	height:35px;
	text-align:center; 
}
 a{
	color:#a9a9bb;
	text-decoration:none;
}
ul#menu li div:hover a{
color:#ffffff;
}

ul#menu div div#hirek {

	margin-top:8px;
	width:50px;
	height:20px;
	margin-left:80px;
	border-radius:10px;
	-webkit-border-radius:5px 5px 5px 5px;
}
div#hirek:hover {
background-color:#0000ff;
-webkit-box-shadow:0px 1px 1px #cccccc;
}
ul#menu div div#blogok {
	
	margin-top:8px;
	width:60px;
	height:20px;
	margin-left:75px;
	border-radius:10px;
	-webkit-border-radius:5px 5px 5px 5px;
}
div#blogok:hover {
background-color:#0000ff;
-webkit-box-shadow:0px 1px 1px #cccccc;
}
ul#menu div div#videok {
	
	margin-top:8px;
	width:60px;
	height:20px;
	margin-left:75px;
	border-radius:10px;
	-webkit-border-radius:5px 5px 5px 5px;
}
div#videok:hover {
background-color:#0000ff;
-webkit-box-shadow:0px 1px 1px #cccccc;
}
ul#menu div div#gyik {
	
	margin-top:8px;
	width:110px;
	height:20px;
	margin-left:50px;
	border-radius:10px;
	-webkit-border-radius:5px 5px 5px 5px;
}
div#gyik:hover {
background-color:#0000ff;
-webkit-box-shadow:0px 1px 1px #cccccc;
}
ul#menu div div#kapcsolat {
	
	margin-top:8px;
	width:75px;
	height:20px;
	margin-left:75px;
	border-radius:10px;
	-webkit-border-radius:5px 5px 5px 5px;
}
div#kapcsolat:hover {
background-color:#0000ff;
-webkit-box-shadow:0px 1px 1px #cccccc;
}

div#footer {
		width:940px;
		height:70px;
		background:linear-gradient(0deg ,#505050 0%,#566b81 100%);
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		-webkit-border-radius:10px 10px 0px 0px;
		-webkit-box-shadow:10px 10px 5px #222222;
}
ul#menufooter{ list-style:none;}

ul#menufooter li{ float:left; }

ul#menufooter li div:hover a{
color:#ffffff;
}
ul#menufooter div{
	/*background-color:#000044;*/
	width:235px;
	height:35px;
	text-align:center; 
}
ul#menufooter div div#fooldal {
	margin-top:12px;
}
ul#menufooter div div#fblogok {
	margin-top:12px;
}
ul#menufooter div div#fgyik {
	margin-top:12px;
}
ul#menufooter div div#fkapcsolat{
	margin-top:12px;
}
div#copyright {
	margin-left:500px;
}

#mySnackbarloginerror {
color:#fff;
background:#d00;
border-radius:2px;
font-size:20px;
font-family:"Arial";
text-align:center;
padding:16px;
position:fixed;
bottom:30px;
left:80%;
width:18%;
z-index:1;
visibility:hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#mySnackbarloginerror.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.8s;
  animation: fadein 1s, fadeout 1s 2.8s;
}

#mySnackbarlogout {
color:#fff;
background:#2b2;
border-radius:2px;
font-size:20px;
font-family:"Arial";
text-align:center;
padding:16px;
position:fixed;
bottom:30px;
left:80%;
width:18%;
z-index:1;
visibility:hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#mySnackbarlogout.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.8s;
  animation: fadein 1s, fadeout 1s 2.8s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Index --------------------------------------------------------------------------------------------*/
div#indexcontainer{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:940px;
	height:auto;
	min-height:630px;
	background:linear-gradient(90deg ,#445 0%,#889 70%, #445 100%);
	-webkit-box-shadow:10px 10px 5px #222222;
}

#mySnackbarregistration {
color:#fff;
background:#2b2;
border-radius:2px;
font-size:20px;
font-family:"Arial";
text-align:center;
padding:16px;
position:fixed;
bottom:30px;
left:80%;
width:18%;
z-index:1;
visibility:hidden;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#mySnackbarregistration.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.8s;
  animation: fadein 1s, fadeout 1s 2.8s;
}

#mySnackbaractivation {
color:#fff;
background:#2b2;
border-radius:2px;
font-size:20px;
font-family:"Arial";
text-align:center;
padding:16px;
position:fixed;
bottom:30px;
left:80%;
width:18%;
z-index:1;
visibility:hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#mySnackbaractivation.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.8s;
  animation: fadein 1s, fadeout 1s 2.8s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* Registration-------------------------------------------------------------------------------------*/
div#registrationcontainer{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:940px;
	height:600px;
	background:linear-gradient(0deg ,#bbaaaa 0%,#a19c9c 100%);
	-webkit-box-shadow:10px 10px 5px #222222;
}
div#regtitle {
	
	width:740px;
	height:0px;
	padding:50px 150px;
	font-size:40px;
	/*background-color:#888;*/
}

div#regfirstnametext{
	padding-top:50px;
	padding-left:50px;
	font-size:30px;
	width:150px;
	height:50px;
	/*background-color:#bbb;*/
	float:left;
}
div#regfirstnameinput{
	padding-top:40px ;
	padding-left:10px;
	width:200px;
	height:60;
	/*background-color:#aaa;*/
	float:left;
}
div#regfirstnameerror{
	padding-top:50px;
	padding-left:50px;
	width:450px;
	height:50px;
	float:left;
	font-size:20px;
	color:#44f;
	/*background-color:#888;*/
}
div#reglastnametext{
	padding-top:50px;
	padding-left:50px;
	font-size:30px;
	width:150px;
	height:50px;
	/*background-color:#bbb;*/
	float:left;
}
div#reglastnameinput{
	padding-top:40px ;
	padding-left:10px;
	width:200px;
	height:60;
	/*background-color:#aaa;*/
	float:left;
}

div#reglastnameerror{
	padding-top:50px;
	padding-left:50px;
	width:450px;
	height:50px;
	float:left;
	font-size:20px;
	color:#44f;
	/*background-color:#888;*/
}

div#regemailtext{
	padding-top:50px;
	padding-left:100px;
	font-size:30px;
	width:100px;
	height:50px;
	/*background-color:#bbb;*/
	float:left;
}
div#regemailinput{
	padding-top:40px ;
	padding-left:10px;
	width:200px;
	height:60;
	/*background-color:#aaa;*/
	float:left;
}
div#clear{
	clear: both;
}
input#email[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;
}
div#regemailerror{
	padding-top:50px;
	padding-left:50px;
	width:450px;
	height:50px;
	float:left;
	font-size:20px;
	color:#44f;
	/*background-color:#888;*/
}
div#regpasswordtext{
	padding-top:50px;
	padding-left:60px;
	font-size:30px;
	width:140px;
	height:50px;
	/*background-color:#666;*/
	float:left;
}

div#regpasswordinput{
	padding-top:40px;
	padding-left:10px;
	width:200px;
	height:60px;
	/*background-color:#000;*/
	float:left;
}

input#regpassword[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center;
}
div#regpassworderror{
	padding-top:50px;
	padding-left:50px;
	width:450px;
	height:50px;
	float:left;
	font-size:20px;
	color:#44f;
	/*background-color:#888;*/
}
div#regsubmit {
	padding-top:20px;
	padding-left:175px;
	width:275px;
	height:70px;
	/*background-color:#444499;*/
	float:left;
}

.registration111:hover {
  background-color: #5555ff;
}
.registration111 {

width:150px;
height:50px;
}

#exist1{
color:#fff;
background:#d00;
border-radius:2px;
font-size:20px;
font-family:"Arial";
text-align:center;
padding:16px;
position:fixed;
bottom:30px;
left:80%;
width:18%;
z-index:1;
visibility:hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#exist1.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.8s;
  animation: fadein 1s, fadeout 1s 2.8s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
